src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c2b2058f-03a5-4058-b62d-8c99f72c3ae5" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1566b9fd-770a-40a3-8d98-9a51d2d331ba" basePath="/api/timezone/" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="32fd83d5-05ee-44d0-a8ca-19141f4c77e1" >
		<http:listener doc:name="Listener" doc:id="d1fd3439-e090-4b78-8c2a-32119f538d4f" config-ref="HTTP_Listener_config" path="/world/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="07ccd75a-261c-461f-8921-d738b7b6112c" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city": attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
